
.imgWeather {
    /*height: 300px;*/
    /*border: blue;*/
    width: 300px;
    border: 1px solid blue;
}

section {
    background-color: #7fffd4;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 0px;
    /*border: 1px solid blue;*/
}
