
imgoverview {
    /*height: 300px;*/
    width: 200px;
}

sectionoverview {
    background-color: aquamarine;
    /*color: blue;*/
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    width: 400px;
    padding: 10px;
    /*border: 1px solid blue;*/
}