.test {
    background-color: #7fffd4;
    /*background: blue;*/
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1000px;
    /*border: 1px solid blue;*/
    padding: 20px;
}

.overview {
    background-color: #7fffd4;
    color: #000000;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap ;
    justify-content: space-evenly;
    max-width: 1000px;
    padding: 40px;
    border: 1px solid blue;
}

.great {
    background-color: #7fffd4;
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    max-width: 1000px;
    border: 1px solid blue;
    padding: 20px;
}

.picturetop {
    background-color: #7fffd4;
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    /*border: 1px solid blue;*/
    padding: 20px;
}

.picture {
    background-color: #7fffd4;
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    /*border: 1px solid blue;*/
    padding: 20px;
}

.weather {
    background-color: #20b2aa;
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    border: 1px solid blue;
    padding: 20px;
}

.details {
    background-color: #7fffd4;
    /*background: blue;*/
    color: #000000;
    margin: 10px 16px;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
    max-width: 1000px;
    /*border: 1px solid blue;*/
    padding: 20px;
}

.new {
    background-color: #7fffd4;
    color: #000000;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    border: 1px solid blue;
    padding: 0px;
}

.center {

}

.inputs {
    width: 93%;
}

.submit {
    width: 60%;
    color: #0000ff;
}
